@import "tailwindcss";

:root {
  --background: #454640;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lexend);
  --font-display: var(--font-lexend-exa);
  --font-serif: var(--font-rozha-one);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend), system-ui, sans-serif;
}
